.clear{
    clear: both;
    width: 1425px;
    // width: 100%;
}

.h-banner-box{
    width: 1425px;
    // width: 100%;
    height:160px;
    margin-top: 15px;
    #h-banner{
        width:1200px;
        height: 160px;
        background: #ffffff;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        z-index: -1;
        .logo{
            margin-top: 27px;
            width: 357px;
            height: 95.625px;
            float: left;
            img{
              width: 314.56px;
              height:90.625px;
            }
        }
    }
}

// 顶部悬浮框部分
.top-float-box{
  width:100%;
  height: 68px;
  background-color: #005aaa;
//   transition-duration: 1s;
//   transition-timing-function:linear;
//   transition:  all 2s;
}






.search{
    height: 96px;
    width: 640px;
    float: left;
    margin-top: 56px;
    margin-left: 3px;
    .positonRE{
        height: 50px;
        position: relative;
    }
    .hotword{
        margin: 6px 0px;
        color: #999;
        position: absolute;
        top: 48px;
        a{
            margin-left: 10px;
            font-size: 13px;
            color: #999;
            cursor: pointer;
            text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        }
    }
}

.search-text{
    height: 50px;
    .search-ipt{
    width: 488px;
    height: 46px;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border: 2px solid #004ea2;
    padding: 0px 0px 0px 47px;
    float: left;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    border-right: none;
    color: #333;
    }


    .search-btn{
    position: absolute;
    height: 50px;
    width: 125px;
    background: #db3832;
    color: #fff;
    border: 2px solid #db3832;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px 2px 2px 0;
    right: -20px;
    }

}

// 右边购物车部分

.shopCar {
    width: 160px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 56px;
    color: #666;
    float: left;
    text-decoration: none;
    cursor: pointer;


    .cart-count{
    position: absolute;
    left: 112px;
    top: 5px;
    background: #ed1b23;
    color: #fff;
    padding: 2px 8px;
    font-size: 16px;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
    min-width: 35px;
    }
}


   .car-shop{
    display: block;
    width: 160px;
    height: 46px;
    line-height: 46px;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    .name{
        padding-left: 17px;
        font-weight: bold;
        color: #666;
    }   
}
.minicarSvg{
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        bottom: 4px;
        left: 20px;
        margin: auto;
        z-index: 100;
    }


#minicart{
    display: none;
    position: absolute;
    top: 65px;
    right: 0;
    width: 326px;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0px 0px 16px #eee;
    border-radius: 10px 0 10px 10px;
    padding-top: 50px
}