@mixin ellipse($w:200px, $h:30px) {
    width: $w;
    height: $h;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




.custom-footer{
width: 100%;
height: 662px;
// background: #fff;
.bottom-img{
    width: 1200px;
    margin: auto;
    height: 103px;
    .img{
        display: block;
        height: 100%;
        width: 100%;
    }
}
}
.Microsoft{
    font-family: "Microsoft YaHei", "PingFangSC-Regular", tahoma, arial, 'Hiragino Sans GB', sans-serif !important;  
}

#footer{
    background-color: #f4f5f9;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    // width: 1425px;
    width: 100%;
    height: 559px;
}

.footer-top{
    width: 100%;
    height: 389px;
    padding: 35px 0 30px 0;
    box-sizing: border-box;  
    .container{
    background-color: #f4f5f9;
    width: 1200px;
    height:324px;
    position: relative;
    margin: 0 auto;
    &::after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        clear: both;  
    }
    } 
}

#footer{
    .footer-left{
    height: 324px;
    float: left;
    width: 884px;
    }
   
}

#footer{
    .footer-right{
    height: 324px;
    float: right;
    width:310px;;
    }
   
}
// footer的右边部分
#footer{
.-right-title{
    width: 200px;
    padding-right: 20px;
    margin: 0;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 18px;
    color: #666;
    height: 40px;
    line-height: 40px;
    .footer-right-box{
        width: 310px;
        // height: 155px;
        margin-top: 23px;
    }
}
} 
.footer-right{
    .fonter-phone-icon{
        height: 50px;
        width: 46px;
        line-height: 50px;
        float: left;
        background: url(../img/sprites.png) -55px -153px;
        
    }
    .small-line-style{
        height: 35px;
        line-height: 35px; 
        // background: violet;
       .kefu-word{
        padding-left: 20px;
        font-size: 14px;
        color: #005aaa;
       }  
    }
   
} 
.tubiao-footer{
    display: inline-block;
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 12px;
    background: url(../img/sprites.png) -22px -396px ;
}


.fonter-phone-content{
        width: 255px;
        height: 50px;
        .content-phone{
            font-size: 24px;
            color: #004ea2;
            height: 30px;
            font-weight: bold;
        }
        .content-time{
            height: 20px;
            color: #999;
            font-size: 13px;
        }
    }


//footer的左边列表部分
#footer {

.footer-left{
    float: left;
    width: 884px;
}
}
.bt-nav{
    width: 220px;
    float: left;
    .first-a{
    padding-right: 20px;
    margin: 0;
    font-weight: normal;
    display: inline-block;
    font-size: 18px;
    color: #666;
    line-height: 40px;  
    text-decoration: none;
    @include ellipse(200px, 40px);
    }
}

.first-a-child{
    width: 200px;
    margin-top: 20px;
    list-style: none;
    .child-text{
    padding-right: 20px;
    margin: 0;
    font-weight: normal;
    display: inline-block;
    font-size: 13px;
    color: #333;
    margin-bottom: 14px;
    text-decoration: none; 
    @include ellipse(200px, 18px);   
    }  
}
